<section class="page-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-9 px-5">
        <h3>Favorites <span>Item</span></h3>
        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="col-3">
        <div class="text-end">
          <img
            src="../../../assets/images/Group 48102127.png"
            class="w-75"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row gy-3  py-5" *ngIf="myFav">
    <div class="col-md-4" *ngFor="let item of myFav">
      <div class="item shadow">
        <div>
          <img
            [src]="'https://upskilling-egypt.com/' + item.recipe.imagePath"
            alt=""
            class="w-100"
          />
        </div>
        <div class="p-3">
          <h4>{{ item.recipe.name }}</h4>
          <p>{{ item.recipe.description }}</p>
     <a (click)="onRemoveFav(item.id)" class="delete-icon d-block ">
      <i class="fa-solid fa-trash-can text-danger "></i>
     </a>
    </div>
  </div>
</div>
