<div class="card-auth p-5 ">
  <h2>Request Reset  Password</h2>
  <p>Please Enter Your Email And Check Your Inbox</p>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
    <input [(ngModel)]="email" type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<button [mat-dialog-close]="email" cdkFocusInitial class="primary w-100">Send</button>
  
</div>
