.home{
    background-image:url(../../../assets/images/header-bg-svg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 45vh;
    border-radius: 15px;
    color: white;
    background-color: #009247;
    ;

    h2 span{
        color: #DFE0E0;
        font-weight: 200;
        font-size: 25px;
    }
}